name: Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN || github.token }}
          user: ishaansathaye
          template: classic
          base: header, activity, community, repositories
          plugin_streak: yes
          filename: github-metrics.svg
